.formatting {
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
    color:rgb(218, 34, 119);
    box-sizing: border-box;
}

.text {
    flex-wrap: wrap;
    justify-content: center;
    color:rgb(218, 34, 119);
    width:20%;
    padding:1%;
    box-sizing: border-box;
    outline: 2px solid rgb(218,34,119);
    display:none;
}